@font-face {
	font-family: "Montserrat";
	src: url(fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

body {
	/* Use Open Sans unless specified otherwise. */
	font-family: "Montserrat", Arial, sans-serif;
	/* Light purple to yellow gradient */
	background-color: #7B61FF;
}

main {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	
	margin-top: 5%;
	margin-bottom: 5%;
	margin-left: 16%;
	margin-right: 16%;
	
	border: 2px solid;
	background-color: rgba(255, 255, 255);
}

footer {
	width: 100%;
	background-color: #FDC500;
	border-top: 2px solid;
}

h1, h2 {
	text-align: center;
}

h1 {
	font-size: 30px;
}

h2 {
	font-size: 20px;
}

h3 {
	font-size: 16px;
}

p {
	font-size: 16px;
}

footer ul {
	font-size: 15px;
}

.title {
	/* Background */
	width: 130px;
	height: 76px;
	background: #FDC500;
	border: 2px solid;
	filter: drop-shadow(5px 5px 0px #525252);
	/* Alignment of content */
	display: flex;
	align-items: center;
	justify-content: center;
}

.title h1 {
	/* Font styling */
	font-style: italic;
	font-weight: 600;
	font-size: 22px;
	line-height: 24px;
}

/* YouTube embed responsive design code
 * adapted from StackOverflow user 'bron':
 * https://stackoverflow.com/a/59595248 */
.yt-embed {
	border: 2px solid;
	/* This container will maintain a 16:9 ratio relative
	 * to its contents. */
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
	overflow: hidden;
}

.yt-embed iframe {
	/* Scale the iframe to the page size. */
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Phone layout */
@media screen and (max-width: 900px) {
	.yt-embed {
		width: 100%;
	}
	
	main {
		margin-top: 3%;
		margin-bottom: 3%;
		margin-left: 7%;
		margin-right: 7%;
	}
}

/* Desktop layout */
@media screen and (min-width: 901px) {
	.yt-embed {
		width: 576px;
		padding-bottom: 324px;
	}
}
