:root {
  --primary-bg: #7b61ff; /* purple-blue */ 
  --secondary-bg: #fdc500; /* orange-yellow */
}

@font-face {
	font-family: "Montserrat";
	src: url(fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

h1 {
	font-size: 30px;
}

h2 {
	font-size: 20px;
}

h3,
p {
	font-size: 16px;
}

/* reset all the default padding and margin */
* {
  margin: 0;
  padding: 0;
}

body {
	font-family: "Montserrat", Arial, sans-serif;
	background-color: var(--primary-bg);
}

header {
	display: flex;
	justify-content: space-between;
	padding: 10px;
}

main {
  padding: 5vh 8vw;
  margin: 5vh 5vh 0; /* top | right & left | bot */
	
	border: 2px solid black;
	background-color: white;
}

footer {
	/* width: 100%; */ /* for some reason this is making the footer wider than the screen */
	background-color: var(--secondary-bg);
	border-top: 2px solid;
  padding: 30px;
}

h1,
h2,
h3,
p {
  margin-bottom: 1em;
}

.diabetes-title,
.diabetes-intro,
.diabetes-types,
.diabetes-outro {
  /* border: solid red 2px; */
  margin-bottom: 2em;
}

.diabetes-outro ul {
  padding-left: 30px;
  list-style-type: circle;
}

footer ul {
	font-size: 15px;
	line-height: 30px;
	/* Remove bullet point and indentation. */
	list-style: none;
	padding-left: 0;
}

/* Underline only when hovering over the link. */
a:link {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

footer ul a:link {
	color: black;
}

footer ul a:visited {
	color: black;
}

.current {
	color: #242424; /* very dark gray */
}

/* The <div> element for the rectangle title in the top-left corner. */
.title {
	/* Background */
	width: 130px;
	height: 76px;
	background: var(--secondary-bg); /* orange-yellow */
	border: 2px solid;
	filter: drop-shadow(5px 5px 0px #000000);
	/* Alignment of content */
	display: flex;
	align-items: center;
	justify-content: center;
}

/* The text within the title <div> element. */
.title h1 {
	/* Font styling */
	font-style: italic;
	font-weight: 600;
	font-size: 22px;
	line-height: 24px;
}

/* YouTube embed responsive design code
 * adapted from StackOverflow user 'bron':
 * https://stackoverflow.com/a/59595248 */
.yt-embed {
	border: 2px solid;
	/* Keep the container centred. */
	margin: 2em auto;
	width: 50%;
	/* This container will maintain a 16:9 ratio relative
	 * to its contents. */
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
	overflow: hidden;
}

.yt-embed iframe {
	/* Scale the iframe to the page size. */
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Phone layout */
@media screen and (max-width: 900px) {
	/* Dynamic size for embedded video. */
	.yt-embed {
		width: 100%;
	}
	
	/* Thin margin - the white main background should take up the
	 * majority of the screen. */
	main {
    margin: 3% 7%;
	}
}

/* Desktop layout */
@media screen and (min-width: 901px) {
	/* Fixed size for embedded video. */
	.yt-embed {
		width: 560px;
		padding-bottom: 315px;
	}
}
