<!DOCTYPE html>
<html lang="en">

<head>
	
	<title>Diabetes@Home | {{title}}</title>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial_scale=1.0">
	<meta name="author" content="Gerald, Brian, Ivan, Steven, James">

	<link rel="stylesheet" href="/css/general.css">

</head>

<body>

    <header>
        <nav class="navbar">
            <div class="title-container">
                <h1>Diabetes<br>@Home</h1>
            </div>

            <div class="searchbar-container">
                <form>
                    <input type="search" id="patient-query" name="patient-search" placeholder="Search Patient...">
                    <button type="submit"></button>
                </form>
            </div>

            <div class="nav-content-container">
                <ul>
                    <li><a href="#">Register Patients</a></li>
                    <li><a href="#">Patient's Comments</a></li>
                    <li>
                        <div class="divider"></div>
                    </li>
                    <li>
                        <a href="#"><button class="button-icon"></button></a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <main>

        {{{body}}}

    </main>

    <footer>

        <h3>Diabetes@Home</h3>

        <ul>
            <li><a href="javascript:void(0)">Login</a></li>
            <li><a href="about_diabetes.html">About diabetes</a></li>
            <li><a href="about_website.html">About website</a></li>
        </ul>

    </footer>

</body>

</html>
