<!DOCTYPE html>
<html lang="en">

<head>
	
	<title>Diabetes@Home | About Diabetes</title>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial_scale=1.0">
	<meta name="author" content="Gerald, Brian, Ivan, Steven, James">
	<meta name="description" content="Information about diabetes.">

	<link rel="stylesheet" href="/css/general.css">

</head>

<body>
	
	<header>
		
		<div class="title">
			<h1>Diabetes<br>@Home</h1>	
		</div>
		
		<img class="menu-icon" src="assets/menu_black_48dp.svg">
		
	</header>
	
	<main>	
		
		{{{body}}}
		
	</main>
	
	<footer>
		
		<h3>Diabetes@Home</h3>
		
		<ul>
			<li><a href="javascript:void(0)">Login</a></li>
			<li><a href="about_diabetes.html">About diabetes</a></li>
			<li><a href="about_website.html">About website</a></li>
		</ul>
		
	</footer>
	
</body>

</html> 
