<html lang='en'>

  <head>

    <title>Diabetes@Home | {{title}}</title>

    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial_scale=1.0' />
    <meta name='author' content='Gerald, Brian, Ivan, Steven, James' />

    <link rel='stylesheet' href='/css/general.css' />

  </head>

  <body>

    <header>
      <nav class='navbar'>
        <div class='logo'>
          <h1>Diabetes<br />@Home</h1>
        </div>

        <a href='#' class='navbar-toggle'>
          <span class='bar'></span>
          <span class='bar'></span>
          <span class='bar'></span>
        </a>

        <div class='nav-content-container'>
          <ul>
            <li><a href='patient-dashboard'>Dashboard</a></li>
            <li><a href='#'>Leaderboard</a></li>
            <li><a href='#'>Medical History</a></li>
            <!-- <li> -->
            <!--     <div class="divider"></div> -->
            <!-- </li> -->
            <!-- <li> -->
            <!--     <a href="#"><button class="button-icon"></button></a> -->
            <!-- </li> -->
          </ul>
        </div>
      </nav>
    </header>

    <main>

      {{{body}}}

    </main>

    <footer>

      <h3>Diabetes@Home</h3>

      <ul>
        <li><a href='javascript:void(0)'>Login</a></li>
        <li><a href='about-diabetes'>About diabetes</a></li>
        <li><a href='about-website'>About website</a></li>
      </ul>

    </footer>

  </body>

</html>