<div class='heading'>
  <h1 class='page-title'>Error 404</h1>
</div>
<p class='sub-heading'>
  Sorry, the page you requested is not found. Go back to
  <a style='text-decoration:underline' href='/'>home page</a>.
</p>