<html lang='en'>

  <head>
    <title>Oops!</title>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial_scale=1.0' />
    <link rel='stylesheet' href='/css/styles.css' />

  </head>

  <body>

    <div class='error-container'>
      <div class='error-message-box'>
        <h1 class='page-title'>404s and heartbreaks</h1>
        <p>
          Oops! It looks like you've reached a URL that doesn't exist.<br />
          Please return to the
          <a class='redirect-link' href='/'>home page</a>
          to go back to our a-maize-ing website.
        </p>
      </div>
    </div>

  </body>
</html>