<h1 class="page-title">About Diabetes@Home</h1>

<div class="section">
  <h2>What is Diabetes@Home?</h2>
	  <img class="drawkit-health" id="drawkit-health-4" src="assets/drawkit_4.svg">
  <p>This web app helps patients afflicted with diabetes manage their disease with their clinician from the comfort of their home. It allows you to record health data, view recorded data, participate on a leaderboard and view messages from your clinician.</p>
</div>

<div class="section">
	
	<h2>Amazing! How do I get started?</h2>
	<p>To access the majority of these features, you must have an account and be logged in.</p>

</div>

<div class="section">
  <h2>Who made this beautiful website?</h2>
  <p>This website was created by the tired Gerald, tired Brian, tired Ivan, mysterious Steven and tired James. It was made as part of the INFO30002 group project.</p>
  <div class="avatar">
	<img src="assets/gerald.svg">
	<img src="assets/brian.svg">
	<img src="assets/steven.svg">
	<img src="assets/james.svg">
	<img src="assets/ivan.svg">
  </div>
</div>
