<html lang='en'>

  <head>

    <title>Diabetes@Home</title>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial_scale=1.0' />
    <meta name='author' content='Gerald, Brian, Ivan, Steven, James' />
    <link rel='stylesheet' href='/css/general.css' />
    <link
      rel='stylesheet'
      href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'
    />

  </head>

  <body>

    <header>

      <nav class='navbar'>
        <a href='/' class='logo'>
          <h3>Diabetes<br />@Home</h3>
        </a>

        <!-- a hambuger menu icon that shows up in mobile screen -->
        <!-- its dropdown should float right -->
        <div class='dropdown'>
          <button><i class='fa fa-bars toggle'></i></button>
          <div class='click-dropdown-content dropdown-right'>
            <a href='/patient'>Patient</a>
            <a href='/clinician'>Clinician</a>
            <a href='/about-diabetes'>About Diabetes</a>
            <a href='/about-website'>About Website</a>
            <a class='btn' href='/login'>Login</a>
          </div>
        </div>

        <!-- a sub navbar container that house the links -->
        <div class='nav-content-container'>
          <ul>

            <!-- these links will all direct to login page -->
            <li><a class='nav-options' href='/patient'>Patient
              </a></li>
            <li><a class='nav-options' href='/clinician'>Clinician
              </a></li>

            <!-- add a dropdown option for learn more button -->
            <div class='dropdown'>
              <li><a class='dropdown-btn' href='#'>Learn More
                  <i class='fa fa-caret-down'></i>
                </a></li>
              <div class='dropdown-content'>
                <a class='nav-options' href='/about-diabetes'>About Diabetes</a>
                <a class='nav-options' href='/about-website'>About Website</a>
              </div>
            </div>

            <a class='btn' href='/login'>Login</a>
          </ul>
        </div>
      </nav>

    </header>

    <main class='home-main'>

      <div class='welcome-container'>
        <div class='welcome-text'>
          <h1>
            Your health is our highest priority.
          </h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.
          </p>
        </div>
        <img
          id='drawkit-health-5'
          class='drawkit-health img-center img-circle'
          src='assets/drawkit_5.svg'
        />
      </div>

      <!-- a login and learn more button on the main page -->
      <div class='btn-container'>
        <div class='btn-wrapper'>
          <a class='btn yellow-btn' href='/login'>Login</a>
          <a class='btn' href='/about-diabetes'>About Diabetes</a>
        </div>
      </div>

    </main>

  </body>
  <script src='/js/script.js'></script>
</html>
