<html lang='en'>

  <head>

    <title>Diabetes@Home | Home</title>

    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial_scale=1.0' />
    <meta name='author' content='Gerald, Brian, Ivan, Steven, James' />

    <link rel='stylesheet' href='/css/general.css' />

  </head>

  <body>

    <header>
      <nav class='navbar'>
        <div class='logo'>
          <h1>Diabetes<br/>@Home</h1>
        </div>
      </nav>
    </header>

    <main class='home-main'>

      <div class='welcome-container'>
        <div class='welcome-text'>
          <h1>
            Your health is our highest priority.
          </h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
          </p>
        </div>

        <img 
          id='drawkit-health-5'
          class='drawkit-health img-center img-circle' 
          src='assets/drawkit_5.svg'
        />
      </div>

      <div class='btn-container'>
        <div class='btn-wrapper'>
          <button class='btn login-btn'>Login</button>
          <button class='btn learnmore-btn'>Learn More</button>
        </div>
      </div>

    </main>

  </body>
  <script src='/client-side/script.js'></script>
</html>
