<div class='heading'>
  <h1 class='page-title'>Leaderboard</h1>
</div>

<div class='leaderboard-content'> 
    <div class='podium-container'>
        <div class='podium-item'>
            <p class='podium-patient'> 
                zyj
            </p>
            <div class='podium-rank second'>
                2
            </div>
        </div>

        <div class='podium-item'>
            <p class='podium-patient'> 
                jamdog
            </p>
            <div class='podium-rank first'>
                1
            </div>
        </div>

        <div class='podium-item'>
            <p class='podium-patient'> 
               geralo17
            </p>
            <div class='podium-rank third'>
                3
            </div>
        </div>

    </div> 
        
</div>