<div class='login-form-container'>
  {{#each flash}}
    <p class='alert'>{{this}}</p>
  {{/each}}
  <form class='login-form' action='login' method='POST'>
    <h2>Choose your user type</h2>
    <div class='role-select-container'>
      <div>
        <label for='role'>Patient</label>
        <input id='patient-radio' class='slider' type='radio' name='role' checked='checked' value='patient' />
      </div>
      <div>
        <label for='role'>Clinician</label>
        <input id='clinician-radio' class='slider' type='radio' name='role' value='clinician' />
      </div>
    </div>

    <div class='pass-entry'>
      <input type='text' name='email' placeholder='Email'/>
      <input type='password' name='password' placeholder='Password'/>
    </div>

    <input type='submit' class='btn yellow-btn' value='Login' />
  </form>
</div>
