<div class="heading">
  <h1 class="page-title">G'day {{username}}</h1>

  <!-- achievement/badge here -->

</div>

<div class="patient-db-content">

  <div class="record-data-container">
    <h2 class="sub-heading">Record daily data</h2>

    <!-- data entry box here -->

  </div>

  <div class="history-container">
    <h2 class="sub-heading">Recent History</h2>

    <!-- history table here -->

  </div>

  <div class="leaderboard-container">
    <h2 class="sub-heading">This week's standing</h2>

    <!-- top 3 podium here -->

  </div>

</div>

<div class="support-message">
  <h3>Hi Alice - good job for reaching 50,000 steps this week! 😃</h3>
</div>


