<div class='heading'>
  <h1 class='page-title'>Patient Comments</h1>
</div>

<div class='left-patient-container'> 
    <table class='patient-list'>
        <!-- {{#each patients}} -->
        <tr class='patient-name'> 
            <td class='td-button'>
                <!-- <button> {{this.firstName}} {{this.lastName}} </button> -->
                <button>abc</button>
            </td>
        </tr>

        <tr class='patient-name'> 
            <td class='td-button'>
                <button>123</button>
            </td>
        </tr>

        <tr class='patient-name'> 
            <td class='td-button'>
                <button>sfda</button>
            </td>
        </tr>

    </table>
</div>