<div class='heading'>
  <h1 class='page-title'>Patient Comments</h1>
</div>

<div class='left-patient-container'> 
    <table class='patient-list'>
        
        <tr class='patient-name'> 
            <td class='td-button'>
                
                <button>James</button>
            </td>
        </tr>

        <tr class='patient-name'> 
            <td class='td-button'>
                <button>Steven</button>
            </td>
        </tr>

        <tr class='patient-name'> 
            <td class='td-button'>
                <button>Gerald</button>
            </td>
        </tr>

        <tr class='patient-name'> 
            <td class='td-button'>
                <button>Brian</button>
            </td>
        </tr>

        <tr class='patient-name'> 
            <td class='td-button'>
                <button>Ivan</button>
            </td>
        </tr>

        <tr class='patient-name'> 
            <td class='td-button'>
                <button>Pat</button>
            </td>
        </tr>

        <tr class='patient-name'> 
            <td class='td-button'>
                <button>Tom</button>
            </td>
        </tr>

        <tr class='patient-name'> 
            <td class='td-button'>
                <button>Harry</button>
            </td>
        </tr>

        <tr class='patient-name'> 
            <td class='td-button'>
                <button>Kat</button>
            </td>
        </tr>

        <tr class='patient-name'> 
            <td class='td-button'>
                <button>Hunter</button>
            </td>
        </tr>

        <tr class='patient-name'> 
            <td class='td-button'>
                <button>Tim</button>
            </td>
        </tr>
        

    </table>
</div>

<div class='right-comments-container'>
    <table class='patient-comments'> 
        <tr>
            <td> 
                asdasd
            </td> 
        </tr>
    </table>
</div>
