<div class="profile-container">
    <div class="left-profile-box">
        <div class="profile-circle"></div>
        <div class="profile-name-row">
            <h4>Screen Name:</h4>
            <h4 class="profile-screenName">Geralo</h4>
        </div>
        <div class="profile-name-row">
            <h4>First Name:</h4>
            <h4 class="profile-screenName">Gerald</h4>
        </div>
        <div class="profile-name-row">
            <h4>Last Name:</h4>
            <h4 class="profile-screenName">Helman</h4>
        </div>

        <div class="scroll-box">
            <span>
                <p class="filter">filter by </p>
            </span>
            <div class="scroll-links">
                <a href="#today-health-date"><h3>Today's Health Data</h3></a>
                <a href="#health-history"><h3>Health History</h3></a>
                <a href="#set-time-series"><h3>Set Time-Series</h3></a>
                <a href="#set-threshold"><h3>Set Threshold</h3></a>
                <a href="#clinical-notes"><h3>Clinical Notes</h3></a>
                <a href="#support-messages"><h3>Support Messages</h3></a>
            </div>
        </div>

        <a href=""><h3 id="view-patient-comment">View patient's comments</h3></a>
    </div>

    <div class='right-profile-box'>

    </div>
</div>
