<div class="heading">
  <h1 class="page-title">G'day {{username}}</h1>

  <!-- achievement/badge here -->

</div>

<div class="patient-db-content">

  <div class="record-data-container">
    <h2 class="sub-heading">Record today's data</h2>

    <form class="input-container">

      <div class="input-box">
        <label for="glucose" class="placeholder">Blood Glucose Level (nmo/L)</label>
        <input id="glucose" type="number"> 
        <textarea placeholder="additional comments here..."></textarea>
      </div>

      <div class="input-box">
        <label for="weight" class="placeholder">Weight (kg)</label>
        <input id="weight" type="number"> 
        <textarea placeholder="additional comments here..."></textarea>
      </div>

      <div class="input-box">
        <label for="insulin" class="placeholder">Insulin (doses)</label>
        <input id="insulin" type="number"> 
        <textarea placeholder="additional comments here..."></textarea>
      </div>

      <div class="input-box">
        <label for="exercise" class="placeholder">Exercise (steps)</label>
        <input id="exercise" type="number"> 
        <textarea placeholder="additional comments here..."></textarea>
      </div>

      <button class="submit-btn">Update</button>

    </form>

  </div>

  <div class="history-container">
    <h2 class="sub-heading">Recent History</h2>

    <!-- history table here -->

  </div>

  <div class="leaderboard-container">
    <h2 class="sub-heading">This week's standing</h2>

    <!-- top 3 podium here -->

  </div>

</div>

<div class="support-message">
  <h3>Hi Alice - good job for reaching 50,000 steps this week! 😃</h3>
</div>


