<div class='patient-comments-container'>
  <h1 class='page-title'>Patient Comments</h1>

  <div class='comments-container'>

    <div class='user-container'>
      {{#each patients}}
        <a class='user-box' href='#{{this.username}}'>{{this.username}}</a>
      {{/each}}
    </div>

    <div class='content-container'>
    </div>

  </div>
</div>

<!--   <div class='right-comments-container'> -->
<!--     <table id='james-comments' class='patient-comments'> -->
<!--       <tr class='comment'> -->
<!--         <td> -->
<!--           <textarea class='all-comments'> -->
<!--             Yesterday Feeling so good! -->
<!--           </textarea> -->
<!--         </td> -->
<!--       </tr> -->
<!--     </table> -->
<!--   </div> -->
<!-- </div> -->