<div class='heading'>
  <h1 class='page-title'>Edit Profile Setting</h1>
</div>

<form class='setting-container' method='post'>
    <div class= 'left-setting-box'>
    <div class='profile-circle'>
    </div>
    <input
      class='input-file'
      name='profilePhoto'
      id='profilePhoto'
      type='file'
    />
    </div>
</form>
