<div class='heading'>
  <h1 class='page-title'>Register Patient</h1>
</div>

<div class='register-form-container'>
  <form class='register-form' method='post'>

    <div class='left-register-box'>

      <div class='input-row'>
        <div class='input-box'>
          <label for='user-id'>User ID (Email)</label>
          <input
            name='email'
            id='email'
            type='email'
            placeholder='Type email here...'
          />
        </div>

        <div class='input-box'>
          <label for='user-screenName'>Screen Name</label>
          <input
            name='screenName'
            id='screenName'
            type='text'
            placeholder='Type screen name here...'
          />
        </div>
      </div>

      <div class='input-row'>
        <div class='input-box'>
          <label for='user-firstName'>First Name</label>
          <input
            name='firstName'
            id='firstName'
            type='text'
            placeholder='Type first name here...'
          />
        </div>

        <div class='input-box'>
          <label for='user-lastName'>Last Name</label>
          <input
            name='lastName'
            id='lastName'
            type='text'
            placeholder='Type last name here...'
          />
        </div>
      </div>

      <div class='input-row'>
        <div class='input-box'>
          <label for='user-password'>Password</label>
          <input
            name='password'
            id='password'
            type='password'
            placeholder='Type password here...'
          />
        </div>

        <div class='input-box'>
          <label for='user-repassword'>Confirm Password</label>
          <input
            name='repassword'
            id='repassword'
            type='password'
            placeholder='Retype same password here...'
          />
        </div>
      </div>

      <div class='input-row'>
        <div class='input-box bio'>
          <label for='user-bio'>Bio</label>
          <textarea
            name='bio'
            id='bio'
            cols='4'
            placeholder='Type bio here...'
          ></textarea>
        </div>
      </div>

    </div>

    <div class='right-register-box'>

      <div class='profile-container'>
        <div class="image-cropper">
          <!-- TODO: replace with relevant image here -->
          <img class="patient-profile-avatar" src='/assets/avatar_0.svg'/>
        </div>

        <!-- upload image -->
        <input
          class='input-file'
          name='profilePhoto'
          id='profilePhoto'
          type='file'
        />
      </div>

    </div>

  </form>
  <input
    type='submit'
    form='register-form-container'
    class='register-button btn yellow-btn'
    value='Register'
  />
</div>
