@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --primary-bg: #7b61ff; /* purple-blue */
  --secondary-bg: #fdc500; /* orange-yellow */
  --content-bg: #ffffff;
  --cream: #ffece5;
  --green: #00bea7;
  --peach-red: #ff7768;
  --dark-grey: #242424;
  --light-grey: #697089;

  --success-green-dark: #8aa573;
  --success-green: #a3be8c;
  --success-green-light: #f0ffd9;

  --warning-orange-dark: #b76e57;
  --warning-orange: #d08770;
  --warning-orange-light: #ffedd6;

  --warning-purple-dark: #9b7594;
  --warning-purple: #b48ead;
  --warning-purple-light: #ffdbfa;

  --error-red-dark: #a64851;
  --error-red: #bf616a;
  --error-red-light: #ffc7d0;

  /* font sizes */
  --h1: 40px;
  --h2: 28px;
  --h3: 22px;
  --h4: 18px;
  --t1: 20px;
  --t2: 18px;
  --t3: 16px;
  --t4: 14px;
}

html {
  font-family: 'Montserrat', Arial, sans-serif, 'Mlight';
  font-style: normal;
  font-size: var(--t3);
  line-height: 1.4;
  word-break: break-word;
  scroll-behavior: smooth;
}

body {
  background-color: var(--primary-bg);
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
p {
  margin-bottom: 0.8em;
}

h1 {
  font-size: var(--h1);
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
}

p {
  font-size: var(--t3);
}

a {
  text-decoration: none;
  color: black;
}

textarea {
  font-size: var(--t2);

  resize: none;
  border: solid 2px;

  padding: 10px;
  width: 100%;
}

::placeholder {
  color: var(--light-grey);
  font-size: var(--t3);
  font-family: monospace;
}

/* Main content should have a white background, take up the majority
 * of the screen and have a border that "meshes" with the footer. */
main {
  min-height: 85vh;
  padding: 2% 3%; /* top & bottom | right & left */
  margin: 3% 7% 0; /* top | right & left | bottom */

  background-color: var(--content-bg);
  border-top: 2px solid;
  border-right: 2px solid;
  border-left: 2px solid;
}

/* we don't want white background for home page. need to be seamless */
.home-main {
  background-color: var(--primary-bg);
  border: none;
}

/* Footer should take up the entire bottom of the screen. */
footer {
  background-color: var(--secondary-bg);
  border-top: 2px solid;
  padding: 20px 6% 40px; /* top | right & left | bottom */
}
footer ul {
  font-size: var(--t3);
  line-height: 30px;
  /* Remove bullet point and indentation. */
  list-style: none;
  padding-left: 0;
}
/* Footer links should be a bit more 'subtle'. */
footer ul a:link {
  color: black;
}
footer ul a:visited {
  color: black;
}
/* Slightly highlight the page we're currently on. */
footer ul li.current {
  color: var(--dark-grey);
}
/* Underline only when hovering over the link. */
footer a:link {
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}

/* used to toggle navbar elements */
.show .click-dropdown-content {
  display: block;
}

/* Adding spacings between groups of elements in about pages. */
.section {
  margin: 50px;
}
/* Add some glamour to text-content lists. */
.section ul {
  padding-left: 30px;
  list-style-type: circle;
}

/* logo component */
/* The <div> element for the website logo/title in the top-left corner. */
.logo {
  width: 130px;
  height: 76px;

  background: var(--secondary-bg);
  border: 2px solid;

  /* Alignment of content */
  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;
  color: black;
  transition: filter 500ms ease 0s;
}
/* The text within the title <div> element. */
.logo h1 {
  font-weight: 600;
  font-size: var(--t1);
  line-height: 24px;
}
.logo:hover {
  filter: drop-shadow(5px 5px 0px #000000);
}

/* navbar component */
/* Title in the top-left corner, menu icon in the top-right corner. */
/* logo | search bar |            content */
.navbar {
  font-weight: 500;

  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2% 2% 0; /* top | right & left | bottom */
}
.nav-content-container ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}
.nav-content-container li {
  list-style: none;
}
/* a hamburger menu that appears in smaller screen */
.dropdown button {
  /* change default button styles */
  background: none;
  border: none;
  cursor: pointer;

  width: 20px;
  height: 20px;

  position: absolute;
  top: 2rem;
  right: 2rem;
  display: none;
}
.dropdown-btn,
.nav-options {
  font-size: var(--t2);
  text-decoration: none;
  color: black;
  padding: 1rem;
  display: block;
}
/* underline the nav options when it has no dropdown */
.nav-options:hover:not(.dropdown-btn) {
  text-decoration: underline 2px;
}

/* create a dropdown menu */
.dropdown-content,
.click-dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  border: solid 2px;
  z-index: 1;
}
/* for dropdown box aligning with right side of toggle */
.dropdown-right {
  right: 0;
  margin: 20px 20px 0 0;
}
.dropdown-content a,
.click-dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown:hover .dropdown-content {
  display: block;
}
/* for button inside dropdown list */
.dropdown .btn {
  width: 50px;
  margin: 15px auto 15px;

  background-color: black;
  color: white;
  border: none;
}

/* style images */
.drawkit-health {
  display: block;
  width: 50%;
  border: solid 2px;
  max-width: 400px;
  flex-shrink: 0;
  transition: filter 500ms ease 0s;
}

.drawkit-health:hover {
  filter: drop-shadow(10px 10px 0px #000000);
}

/* image properties */
.img-center {
  margin: 2em auto;
}
.img-circle {
  border-radius: 50%;
}
.img-right {
  margin: 2em 0 2em auto;
}

/* We want five avatars on a single row, centered on the page. */
.avatar {
  display: flex;
  margin: auto;
  width: 80%;
  max-width: 1000px;
}
.avatar img {
  width: 20%;
}

/* styles related to patient dashboard */
.support-message {
  /* keep to footer fixed at the bottom */
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;

  /* some styling */
  height: 50px;
  border: solid 2px;
  background-color: var(--cream);

  /* keep the message inside centered */
  display: flex;
  justify-content: center;
  align-items: center;
}

.sub-heading {
  margin-bottom: 30px;
  padding-left: 20px;
}

.patient-db-content {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.achievement-badge {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.engagement-score {
  color: var(--green);
  -webkit-text-stroke: 1px black;
  margin: 2px;
}

.progress-bar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.progress-bar-container p {
  margin: 0;
  font-size: var(--t2);
  font-weight: 700;
}
/* progress bar outline */
.progress-bar {
  position: relative;
  margin: 5px auto 15px; /* center align */
  width: 70%;
  height: 1em;
  border: solid 2px;
  border-radius: 1.5em;
}
.progress-bar::before {
  content: '';
  position: absolute;
  align-items: center;
  left: 0;
  top: 0;
  bottom: 0;
  height: 0.8em;
  background-color: var(--green);
  border-radius: 1.5em;

  /* set this according to the completion rate */
  width: var(--completion-rate);
}

/* medical data input form */
/* .form-container { */
/*   background: var(--cream); */
/*   border: solid 2px; */
/**/
/*   display: flex; */
/*   flex-direction: column; */
/*   gap: 20px; */
/**/
/*   /* center align and sizings */
/*   margin: auto; */
/*   padding: 20px; */
/*   min-width: 300px; */
/*   max-width: 50vw; */
/* } */
.medical-form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#medical-form {
  background-color: var(--cream);
  border: solid 2px;

  margin: 10px auto;
  width: 70%;
}
.med-input-container {
  margin: 2%;
}
.med-input-container input {
  border: solid 2px;
  border-radius: 5px;
  height: 35px;
  width: 100%;
}
.med-input-container textarea {
  width: 100%;
  height: 70px;
  border: solid 2px;
  border-radius: 5px;
  padding: 5px;
  resize: none;
}

/* button component */
.btn {
  display: inline-block;

  background-color: white;
  color: black;
  border: solid 2px;
  border-radius: 10px;
  height: 40px;
  min-width: 100px;
  max-width: 250px;
  margin: 0 auto;
  padding: 10px 20px;

  font-size: var(--t2);
  font-weight: 500;
  line-height: 1;
  text-align: center;

  cursor: pointer;
  user-select: none;
  text-decoration: none;
  transition: transform 200ms ease 0s, background 200ms ease 0s;
}
.btn:hover {
  transform: translateY(-2px);
  text-decoration: none;
}

/* grouping the login and learn more button in home page */
.btn-container {
  display: flex;
  margin-bottom: 20px;
}
.btn-wrapper {
  display: inline-flex;
  gap: 5px;
}
.yellow-btn {
  background-color: var(--secondary-bg);
}

.submit-btn {
  background-color: var(--secondary-bg);
  margin: auto;
}

.welcome-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5vw;
}

/* search bar */
.searchbar {
  background-color: white;
  border: solid 2px;
  width: 250px;
  height: 35px;

  display: flex;
  flex-direction: row;
  align-items: center;

  /* align search bar to the left */
  margin: 0 auto 0 20px;
}
.searchbar input {
  all: unset;
  color: black;
  height: 100%;
  width: 100%;
  padding: 6px 10px;
}
.searchbar button {
  all: unset;
  cursor: pointer;
  width: 44px;
  height: 100%;
  border-left: solid 2px;
  display: flex;
  justify-content: center;
}
/* center the search icon */
.fa-search {
  margin: auto;
}

/* general table style */
table {
  border: solid 2px;
  width: 80%;
  padding: 0;
  margin: auto;
  border-collapse: collapse;
}
/* make the table scrollable when it overflows horizontally */
.table-container {
  width: 100%;
  overflow-x: auto;
}
th {
  background-color: var(--secondary-bg);
  border-bottom: solid 2px;
}
/* styling each table cells */
th,
td {
  vertical-align: center;
  text-align: center;
  padding: 10px 10px;
  /* make the cells the width of content */
  width: 1%;
  white-space: nowrap;
}

.patient-data-content-row {
  border-top: 2px solid;
}

/* TODO: this class is not used */
/* .patient-overview-container { */
/*   border: solid 1px; */
/*   border-collapse: collapse; */
/*   display: flex; */
/*   flex-direction: column; */
/*   gap: 0px; */
/*   position: relative; */
/**/
/*   list-style: none; */
/**/
/*   margin: auto; */
/*   padding: 0; */
/*   width: 80vw; */
/* } */
/**/
/* .patient-overview-container td { */
/*   border: 1px solid; */
/* } */

/* .patient-list { */
/*   width: 80%; */
/*   font-size: var(--t3); */
/* } */

/* .names { */
/*   font-size: var(--t3); */
/*   color: #303651; */
/*   width: 1%; */
/*   white-space: nowrap; */
/* } */

/* user name and image section */
.profile-data {
  display: flex;
  width: 100%;
  align-items: center;
}
.toggle-overlay {
  border: none;
  outline: none;
  background: none;
  margin-right: 10px;
}

/* styling for label */
.label::after,
.label.both::before {
  display: inline-block;
  padding: 5px 7px;
  border-radius: 25px;
}
.label.good::after {
  background-color: var(--success-green);
  color: var(--success-green-light);
  border: solid 0.5px var(--success-green-dark);
  content: 'good';
}
.label.outside-threshold::after {
  background-color: var(--error-red);
  color: var(--error-red-light);
  border: solid 0.5px var(--error-red-dark);
  content: 'over-threshold';
}
.label.incomplete::after {
  background-color: var(--warning-purple);
  color: var(--warning-purple-light);
  border: solid 0.5px var(--warning-purple-dark);
  content: 'incomplete';
}
/* for both errors: we wanna add 2 labels (one before, one after) */
.label.both::before {
  background-color: var(--error-red);
  color: var(--error-red-light);
  border: solid 0.5px var(--error-red-dark);
  content: 'over-threshold';
  /* add some space before next label */
  margin-right: 5px;
}
.label.both::after {
  background-color: var(--warning-purple);
  color: var(--warning-purple-light);
  border: solid 0.5px var(--warning-purple-dark);
  content: 'incomplete';
}

/* different styling for data input*/
/* for data outside threshold */
.content.outside-threshold {
  color: var(--error-red);
  font-weight: 600;
}
/* missing data */
.content.incomplete::after {
  display: inline-block;
  content: '-';
  font-size: var(--t1);
}

/*profile image formatting*/
.patient-overview-profile-image {
  position: relative;
  top: 2px;
  margin-right: 0.5em;
  margin-top: auto;
  margin-bottom: auto;
  height: 50px;
  width: 50px;
  border: 1px solid var(--light-grey);
  border-radius: 100px;
}

/*warning box format and styling*/
.warning-container {
  margin: 0;
  padding: 0;
}
.warning-box {
  margin: 1em;
  text-align: left;
  border: 2px solid;
  border-radius: 5px;
  /* show only when button is clicked */
  display: none;
}

/* .warning-box.good { */
/* display: none !important; */
/* } */

.patient-data-warning {
  padding: 1em;
}
.text-container {
  display: inline-block;
  position: static;
  margin-left: 1em;
}
.warning-image {
  top: 0;
  position: static;
  margin-top: 10px;
  margin-bottom: 10px;

  border-radius: 100px;
  height: 30px;
  width: 30px;
}
.warning-header {
  margin: 0 0 16px 0;
}
.warning-explanation {
  color: var(--light-grey);
}

/*Register Patient and Edit profile setting page*/
.register-container,
.setting-container {
  width: 100%;
  /* split 2 columns */
  display: flex;
}
.left-register-box,
.right-setting-box {
  width: 70%;
  margin: 20px;
}
.right-setting-box {
  border: solid 2px;
}
.right-register-box,
.left-setting-box {
  width: 30%;
  margin: 20px;
  /* profile image and submit btn section */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.input-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
/* register patient input box */
.input-box {
  width: 40%;
  height: auto;
  margin: 10px 30px;
}
.input-box input {
  height: 40px;
  width: 100%;

  border: solid 2px;
}
.input-box.bio {
  width: 100%;
}
.input-box textarea {
  width: 100%;
  height: 120px;
  border: solid 2px;
  padding: 5px;
  resize: none;
}
/* placeholder text has different style */
.input-box input,
.input-box textarea {
  font-size: var(--t2);
}
.input-box input::placeholder {
  font-family: monospace;
  font-size: var(--t3);
  color: var(--dark-grey);
}
/* slightly different input box style in profile settings page */
.setting-container input,
.setting-container textarea {
  border: none;
}
/* profile image upload section */
/* make the profile image round */
.profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
  margin: 30px;
}
.profile-circle {
  position: relative;
  border-radius: 50%;
  width: 80%;
  height: auto;
  padding-top: 80%;
  border: 2px solid;
  margin: 10px auto;
}
.input-file {
  font-family: monospace;
  margin: 10px;
  text-align: center;
}
.icon-choices {
  height: 50px;
  width: 50px;
  border: 1px solid var(--light-grey);
  border-radius: 50%;
  margin: 5px;
}
.choosing-area {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*profile page for patients that clinicican can view */
.patient-profile-container {
  display: flex;
  height: 130%;
}
.left-profile-box {
  width: 30%;
}
.right-profile-box {
  width: 70%;
  overflow-y: auto;
}
.profile-name-row {
  display: flex;
  justify-content: space-between;
  margin: 0 30px;
}
.profile-name-row h4 {
  margin: 10px 0;
}
/* section selections */
.scroll-links {
  border: solid 2px;
  text-align: center;
  margin: 20px;
}
.scroll-links p {
  font-size: var(--t2);
  font-weight: 600;
  margin: 15px 0;
  /* text-decoration: none; */
  color: var(--light-grey);
}
.scroll-links p:hover {
  text-decoration: underline 2px;
  color: var(--dark-grey);
}
#view-patient-comment {
  font-size: var(--t2);
  text-decoration: underline 2px;
  text-align: center;
}
.title-profile {
  text-align: center;
}
.patient-bio {
  padding: 5%;
}
/* display health info in boxes */
#today-health-data {
  display: grid;
  grid-auto-columns: minmax(0, 1fr);
  grid-auto-flow: column;
}
.health-data-item {
  text-align: center;
}
.health-data-item div {
  width: 120px;
  height: 120px;

  margin: auto;

  background: var(--secondary-bg);
  border: 2px solid;

  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;
  color: black;

  transition: filter 500ms ease 0s;
}
.health-data-item div:hover {
  filter: drop-shadow(5px 5px 0px #000000);
}
/* history table */
#profile-table {
  border: solid 2px;
  width: 80%;
  margin: auto;
}
/* form to set data values */
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#set-time-series,
#set-threshold {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 80%;
}
.set-data {
  border: 2px solid black;
  margin: 30px;
  padding: 5px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* notes section */
.text-border {
  position: relative;
  border: 2px solid black;
  padding: 5px;
  margin: auto;
  width: 89%;
}
.text-border textarea {
  width: 100%;
  border: none;
}
.text-border div {
  position: static;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  justify-content: flex-end;
  width: 100%;
  height: 20px;
}
.text-border div button {
  right: 0px;
  background: none;
  border: none;
}

/* patient comments page */
.left-patient-container {
  position: absolute;
  width: 450px;
  height: 550px;
  left: 65;
}

.patient-list {
  display: block;
  height: 420px;
  overflow-y: scroll;
}

.patient-list .patient-name {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.select {
  background-color: black !important;
}

.patient-name:hover {
  background-color: pink;
}

.td-button {
  border: 1px solid black;
  padding: 15px;
}

.button-name {
  border: none;
  background-color: transparent;
  font-size: 20px;
  font-weight: bolder;
}

.right-comments-container {
  position: absolute;
  width: 640px;
  height: 550px;
  right: 95;
}

.patient-comments {
  width: 620px;
  background-color: pink;
}

.patient-comments {
  display: block;
  height: 420px;
  overflow-y: scroll;
}

.patient-comments .comment {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.all-comments {
  border: 1px;
  width: 600px;
  height: 550px;
  background-color: pink;
  text-align: left;
}

/* leaderboard page */ 
.leaderboard-content {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.podium-container { 
  position: relative;
  height: 130%;
  width: 80%;
  margin: 0 10%;
  display: flex;
  align-items: flex-end;
  padding-left: 10%;
  padding-right: 10%;
}

.podium-item { 
  width: 200px;
  
}

.podium-patient { 
  text-align: center;
  padding: 0 .5rem;
  font-size: 25px;
}

.podium-item .podium-rank { 
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 45px;
  color: black;
}

.podium-container .second { 
  min-height: 150px;
  background: red;
}

.podium-container .first { 
  min-height: 200px;
  background: yellow;
}

.podium-container .third { 
  min-height: 100px;
  background: pink;
}

/* .warning td {
  column-span: 3;
} */

/* .patient-data-content-row td {
  text-align: right;
  padding-right: 10px;
  font-size: 0.75em;
} */

/* .td-left { */
/*   text-align: center; */
/*   padding: 0.2em 0 0.2em 2em; */
/* } */
/**/
/* .td-right { */
/*   text-align: right; */
/*   padding: 1em 2em 1em 0; */
/* } */

/*
.seperator {
  
  min-height: 60px;
  position: relative;
  border-top: solid 2px;
}
.patient-overview-row-header {
  
  min-height: 60px;
  position: relative;
  border-top: none;
}

.patient-data-row{
  
  display: flex;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.patient-data-row li {
  width: 13vw;
  font-size: 14px;
}

.patient-values {
  font-size: 10px;
} */

/* YouTube embed responsive design code
 * adapted from StackOverflow user 'bron':
 * https://stackoverflow.com/a/59595248 */
.yt-embed {
  border: 2px solid;
  /* Keep the container centred. */
  margin: 2em auto;
  width: 50%;
  /* This container will maintain a 16:9 ratio relative
	 * to its contents. */
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  overflow: hidden;
}

.yt-embed iframe {
  /* Scale the iframe to the page size. */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/************** responsive design ******************/
/* Phone layout */
@media screen and (max-width: 950px) {
  :root {
    --h1: 34px;
    --h2: 22px;
    --h3: 18px;
    --h4: 16px;
    --t1: 18px;
    --t2: 16px;
    --t3: 14px;
    --t4: 12px;
  }

  /* Dynamic size for embedded video. */
  .yt-embed {
    width: 100%;
  }

  /* Bigger (relative to the screen) images */
  .drawkit-health {
    width: 80%;
  }

  .avatar {
    width: 100%;
  }

  /* use hamburger menu in navbar */
  .dropdown button {
    display: flex;
  }
  .nav-content-container {
    display: none;
    width: 100%;
  }

  .welcome-container {
    flex-direction: column;
    gap: 0px;
  }

  .btn-container {
    justify-content: center;
    align-items: center;
  }

  .logo {
    width: 110px;
    height: 65px;
  }

  .navbar {
    padding: 4% 4% 0; /* top | right & left | bottom */
  }
}

/* Desktop layout */
@media screen and (min-width: 951px) {
  /* Fixed size for embedded video. */
  .yt-embed {
    width: 560px;
    padding-bottom: 315px;
    float: right;
    margin-left: 14px;
    margin-bottom: 8px;
  }
}
